# Elephant Machine Edge Service Configuration

# Device Ports

# Machine Configuration
MACHINE_ID=elephant

# NATS Server Configuration
# Comma-separated list of NATS server URLs
NATS_SERVERS=nats://100.109.131.12:4222,nats://100.109.131.12:4223,nats://100.109.131.12:4224